@font-face {
    font-family: 'Readex Pro', sans-serif;
    src: url('../Fonts/ReadexPro-VariableFont_wght.ttf') format('ttf') tech('variations'),
         url('../Fonts/ReadexPro-VariableFont_wght.ttf') format('ttf-variations');
}

* {
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(38, 38, 38);
}

html {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
}

.nav-menu {
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin-top: 2rem;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left: 25%;
    padding-right: 25%;
    
}

#nav-links a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    z-index: 1000;
    display: block;
    --d:14px;
    color: #000;
    padding: calc(8px + var(--d)) 8px 8px 8px;
    background: linear-gradient(rgba(255,255,255,0.4) 0 0) top/100% var(--d) no-repeat;
    clip-path: polygon(0 var(--d),3px var(--d),calc(100% - 3px) var(--d),100% var(--d),100% 100%,0 100%); 
    transform: perspective(1000px) rotateX(0deg);
    transition: 0.4s,color 0.4s 0.4s,background-color 0.4s 0.4s;
}
 
 #nav-links a:hover {
   background-color: #000;
   color: #fff;
   clip-path: polygon(0 var(--d),3px 0,calc(100% - 3px) 0,100% var(--d),100% 100%,0 100%); 
   transform: perspective(1000px) rotateX(-40deg);
   transition: 0.4s,clip-path 0.4s 0.4s,transform 0.4s 0.4s,0.4s;
}

h1 {
    font-size: 2rem;
}

h1 em {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

form {
    border: thin solid black;
    min-width: 275px;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0rem 0 0.25rem 0 rgba(0, 0, 0, 1) inset;
}

#formgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    line-height: 2rem;
}

#forminput {
    display: inline-flex;
    align-items: center;
}
/* FONT AWESOME */
#forminput > i {
    position: absolute;
    border-spacing: 0.3125rem;
    border: 2px solid rgb(33, 33, 33);
    border-radius: 5px;
    padding: 0.1rem 0.25rem 0.16875rem 0.25rem;
    background-color: rgb(50, 50, 51);
    color: whitesmoke; 
}

#banner {
    margin: 5.43rem;
}
input{
    text-align: center;
    padding-left: 1.5rem;
    background-color: aliceblue;
    border-color: rgba(33, 38, 48);
    border-radius: 5px;
    box-shadow: 3.5rem 0 1rem -2rem rgba(0, 0, 0, 1) inset;
    
}

input:hover {
    box-shadow: 1.4rem 0 0.25rem 0 rgba(0, 0, 0, 1) inset;
    transition: box-shadow 100ms ease-in-out;
}   

input::placeholder {
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    box-shadow: 0rem 0 0.25rem 0 rgba(0, 0, 0, 1) inset;
}

@media (width <= 550px) {
    form { margin: 0; }
}