@font-face {
    font-family: 'Readex Pro', sans-serif;
    src: url('../Fonts/ReadexPro-VariableFont_wght.ttf') format('ttf') tech('variations'),
         url('../Fonts/ReadexPro-VariableFont_wght.ttf') format('ttf-variations');
}

html {
    font-family: 'Readex Pro', sans-serif;
    font-size: 20px;
}

body {
    margin-left: 1%;
    margin-right: 1%;
}

header {
    display: flex;
    align-items: center;
}

.nav-menu {
    z-index: 1000;
    width: 100%;
    
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left: 25%;
    padding-right: 25%;
}

#nav-links a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    z-index: 1000;
    display: block;
    --d:14px;
    color: #000;
    padding: calc(8px + var(--d)) 8px 8px 8px;
    background: linear-gradient(rgba(255,255,255,0.4) 0 0) top/100% var(--d) no-repeat;
    clip-path: polygon(0 var(--d),3px var(--d),calc(100% - 3px) var(--d),100% var(--d),100% 100%,0 100%); 
    transform: perspective(1000px) rotateX(0deg);
    transition: 0.4s,color 0.4s 0.4s,background-color 0.4s 0.4s;
}
 
 #nav-links a:hover {
   background-color: #000;
   color: #fff;
   clip-path: polygon(0 var(--d),3px 0,calc(100% - 3px) 0,100% var(--d),100% 100%,0 100%); 
   transform: perspective(1000px) rotateX(-40deg);
   transition: 0.4s,clip-path 0.4s 0.4s,transform 0.4s 0.4s,0.4s;
}

.work a {
    color: royalblue;
    text-decoration: none;
}

hr {
    border-style: groove;
    border-width: 2px;
    border-color:darkgray;
    overflow: visible;
}