@font-face {
    font-family: 'Readex Pro', sans-serif;
    src: url('../Fonts/ReadexPro-VariableFont_wght.ttf') format('ttf') tech('variations'),
         url('../Fonts/ReadexPro-VariableFont_wght.ttf') format('ttf-variations');
}

html {
    font-family: 'Readex Pro', sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
}

.nav-menu {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.nav-menu h3 {
    position: fixed;
    margin-top: .25rem;
    margin-left: 1rem;
}

#nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-inline-start: 60rem;
    
    
 }

#nav-links a {
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    --d:14px;
    color: #000;
    padding: calc(8px + var(--d)) 8px 8px 8px;
    background: linear-gradient(rgba(255,255,255,0.4) 0 0) top/100% var(--d) no-repeat;
    clip-path: polygon(0 var(--d),3px var(--d),calc(100% - 3px) var(--d),100% var(--d),100% 100%,0 100%); 
    transform: perspective(1000px) rotateX(0deg);
    transition: 0.4s,color 0.4s 0.4s,background-color 0.4s 0.4s;
  }
 
 #nav-links a:hover {
   background-color: #000;
   color: #fff;
   clip-path: polygon(0 var(--d),3px 0,calc(100% - 3px) 0,100% var(--d),100% 100%,0 100%); 
   transform: perspective(1000px) rotateX(-40deg);
   transition: 0.4s,clip-path 0.4s 0.4s,transform 0.4s 0.4s,0.4s;

 }



#about {
    position: absolute;
    width: 100%;
    margin-top: 4.25rem;
}
